body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #181818;
    width: 100%;
    height: 100vh;
}


.leftLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftLogin > h1 {
    width: 29rem;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-weight: 400;
    color: #ffffffcb;
}

.leftLogin > img {
    width: 50%;
}

.rigthLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 300;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 50%;
    padding: 2rem;
    height: 60%;
    min-width: 60%;
    min-height: 60%;
    overflow: auto;
}

.form > h1 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #000000;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
}

.textfield > input {
    width: 12rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
}

.buttonLogin {
    width: 12rem;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    background-color: indigo;
    color: #FFFFFF;
    margin-top: 2rem;
    cursor: pointer;
}

.buttonLogin:hover {
    opacity: 50%;
    transition: 0.6s;
}

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftLogin > h1 {
        font-size: 1.5rem;
        max-width: 27rem;
        text-align: center;
    }

    .imgSocial {
        display: none;
    }

    .form {
        width: 80%;
        height: 80%;
        margin-top: 2rem;
    }
}